body a {
  font: 12px/1.4 "Lucida Grande", Arial, sans-serif;
  background: #000;
  color: #ccc;
}
form input {
  padding: 5px;
  border: 1px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#calendar-container {
  text-align: center;
}
#calendar-main-table .day-indicator {
  color: #f00;
  font-weight: bold;
}
#calendar-main-table .day.active {
  color: #000;
  font-weight: bold;
}
#calendar-main-table .day.active:hover {
  outline: 1px solid #f00;
  cursor: pointer;
}
#calendar-main-table .day.disabled {
  color: #c7c4c4;
}
#calendar-main-table .day.selected {
  background-color: #808080;
}
#calendar-container {
  width: 50%;
}
#calendar-container table {
  width: 100%;
}
#calendar-header-table #back-button-container {
  text-align: left;
}
#calendar-header-table #next-button-container {
  text-align: right;
}
#day-notes-container {
  position: absolute;
  display: none;
}
.single-note {
  text-align: left;
}
