body a {
  font: 12px/1.4 "Lucida Grande", Arial, sans-serif;
  background: #000;
  color: #ccc;
}
form input {
  padding: 5px;
  border: 1px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#calendar-container {
  text-align: center;
}
#calendar-main-table td {
  width: 50px;
}
#calendar-container {
  width: 50%;
}
#calendar-container table {
  width: 100%;
}
#calendar-header-table #back-button-container {
  text-align: left;
}
#calendar-header-table #next-button-container {
  text-align: right;
}
